#!/bin/bash
# Sync Garage metadata and data to Google Drive
# Managed by "homelab-iac"

# Backing up the filesystem paths of Garage
rclone copy {{ gdrive_remote_name }}: {{ garage_s3_remote_name }}: \
  --progress \
  --transfers 8 \
  --checkers 16
