#!/bin/bash
# Sync AdGuard data to Garage S3
# Managed by "homelab-iac"

# Ensure common paths are in PATH for cron and user flexibility
export PATH="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:$PATH"

# Check if rclone is available
if ! command -v rclone &> /dev/null; then
    echo "Error: rclone not found in PATH." >&2
    exit 1
fi

# Stop Adguard service before recovery data/ folder
systemctl stop AdGuardHome

rclone copy {{ garage_s3_remote_name }}:{{ adguard_bucket_name }} /opt/AdGuardHome/ \
  --include "/AdGuardHome.yaml" \
  --progress \
  --transfers 8 \
  --checkers 16

# Start Adguard service before recovery data/ folder
systemctl start AdGuardHome
