####################### Global Parameters #######################
proxmox_target_node = "{{ proxmox_target_node }}"
user_password       = "devops"
disk_storage        = "local-lvm"

ssh_private_key_file = "{{ ssh_private_key_file }}"

{% for host in groups['single_vms'] %}
# ####################### {{ host | upper }} VM parameters #######################
{{ host | lower }}_vm_id                = {{ hostvars[host].proxmox_vm_id }}
{{ host | lower }}_cpu                  = {{ hostvars[host].proxmox_cpu }}
{{ host | lower }}_vm_name              = ["{{ hostvars[host].proxmox_vm_name }}"]
{{ host | lower }}_vm_user              = "{{ host | lower }}"
{{ host | lower }}_vm_memory            = {{ hostvars[host].proxmox_memory }}
{{ host | lower }}_vm_network_ip_suffix = {{ hostvars[host].proxmox_vm_network_ip_suffix }}
{{ host | lower }}_vm_disk_size         = "{{ hostvars[host].proxmox_vm_disk_size }}"
{{ host | lower }}_vm_tags              = "{{ hostvars[host].proxmox_vm_tags }}"

{% endfor %}

{% set first_k8s_master_node = groups['k8s_masters_nodes'][0] %}
{% set first_k8s_master_node_lower = first_k8s_master_node | regex_replace('-\d+$', '') | lower %}
{% set first_k8s_master_amount = groups['k8s_masters_nodes'] | length %}

# ####################### K8s Master parameters #######################
k8s_master_amount            = {{ first_k8s_master_amount }}
k8s_master_id                = {{ hostvars[first_k8s_master_node].proxmox_vm_id }}
k8s_master_cpu               = {{ hostvars[first_k8s_master_node].proxmox_cpu }}
k8s_master_name              = {{ hostvars[first_k8s_master_node].proxmox_vm_name }}
k8s_master_network_ip_suffix = {{ hostvars[first_k8s_master_node].proxmox_vm_network_ip_suffix }}
k8s_master_user              = "{{ first_k8s_master_node_lower }}"
k8s_master_memory            = {{ hostvars[first_k8s_master_node].proxmox_memory }}
k8s_master_disk_size         = "{{ hostvars[first_k8s_master_node].proxmox_vm_disk_size }}"
k8s_master_tags              = "{{ hostvars[first_k8s_master_node].proxmox_vm_tags }}"


{% set first_k8s_worker_node = groups['k8s_worker_nodes'][0] %}
{% set first_k8s_worker_node_lower = first_k8s_worker_node | regex_replace('-\d+$', '') | lower %}
{% set first_k8s_worker_amount = groups['k8s_worker_nodes'] | length %}

# ####################### K8s Nodes parameters #######################
k8s_worker_amount            = {{ first_k8s_worker_amount }}
k8s_worker_id                = {{ hostvars[first_k8s_worker_node].proxmox_vm_id }}
k8s_worker_cpu               = {{ hostvars[first_k8s_worker_node].proxmox_cpu }}
k8s_worker_name              = {{ hostvars[first_k8s_worker_node].proxmox_vm_name }}
k8s_worker_network_ip_suffix = {{ hostvars[first_k8s_worker_node].proxmox_vm_network_ip_suffix }}
k8s_worker_user              = "{{ first_k8s_worker_node_lower }}"
k8s_worker_memory            = {{ hostvars[first_k8s_worker_node].proxmox_memory }}
k8s_worker_disk_size         = "{{ hostvars[first_k8s_worker_node].proxmox_vm_disk_size }}"
k8s_worker_tags              = "{{ hostvars[first_k8s_worker_node].proxmox_vm_tags }}"

