# Notes for {{ proxmox_vm_user }}

![Icon]({{ note_icon_url }})

- **Operating System:** Rocky Linux
- **CPU:** {{ proxmox_cpu }} vCPUs
- **Memory:** {{ (proxmox_memory | int / 1024) | round(1) }} GB
- **Disk:** {{ proxmox_vm_disk_size }}

*Created by Homelab-iac Project*
