version: '3'
services:

  # Pihole: DNS Server
  # Docs: https://pi-hole.net/
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    restart: always
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    environment:
      - TZ=America/Recife  # Defina o fuso horário desejado
      - WEBPASSWORD={{ pihole_password }}  # Defina uma senha para o painel de administração do Pi-Hole
      - DNS1={{ external_dns_server }}  # Configuração de servidor DNS (opcional)
    volumes:
      - /mnt/nfs/data/pihole_data/etc-pihole/:/etc/pihole/
      - /mnt/nfs/data/pihole_data/etc-dnsmasq.d/:/etc/dnsmasq.d/
    dns:
      - {{ external_dns_server }}


  # Watchtower: A container-based solution for automating Docker container base image updates.
  # Docs: https://containrrr.dev/watchtower/
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
