[defaults]
interpreter_python = auto_silent
host_key_checking = False
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
roles_path = roles
# Use the Beautiful Output callback plugin.
stdout_callback = beautiful_output
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
